html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: monospace;
	background-color: #F8F8FF;
	font-size: 10px;
	cursor: context-menu;
}
header h1 {
	background-color: white;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#input, #buttons {
	margin: 20%;
}

#input input {
	width: 30%;
}

/* Resources */

.shows {
	width: 99%;
	height: auto;
	min-height: 17rem;
	overflow: hidden;
	padding: 0.5%;
	margin: 1%;
	border: 1px solid black;
	background-color: #D3D3D3;
}	
.shows h3{
	padding: 0;
	margin: 0;
	font-size: 2rem;
}
.showmainbox{
	height: auto;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 2rem;
}
.showbox {
	min-width: 20rem;
	min-height: 10rem;
	margin: 1%;
	padding: 0.5%;
	border: 1px solid black;
	background-color: white;
	text-align: center;
	height: auto;
	width: auto;
	overflow: hidden;
}
footer {
	font-size: 1.5rem;
	background-color: white;
	display: flex;
	justify-content: right;
	align-items: center;
}